{
  "include": [
    "src/"
  ],
  "exclude": [
    "src/**/*.marko.js",
    "src/**/test.*.js",
    "src/**/route.js"
  ],
  "extensions": [
    ".marko"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "all": true
}
