<!DOCTYPE html>
<html lang=input.lang>
  <head>
    <title><include(input.title) /></title>
    <for(item in input.meta)>
    <${item.tagName} ${item.attributes} />
    </for>
  </head>
  <body>
    <include(input.content) />
  </body>
</html>
