<!-- We need this empty template otherwise marko-starter build will throw:
Error: A route must contain a `route.js` file that exports a template or handler, or the route must contain an `index.marko` file. -->
